[alias]
	fpush = push --force-with-lease

[column]
        ui = auto

[branch]
        sort = -committerdate

[tag]
        sort = version:refname

[diff]
        algorithm = histogram
        colorMoved = plain
        mnemonicPrefix = true
        renames = true

[push]
        default = simple
        autoSetupRemote = true

[fetch]
        prune = true
        pruneTags = true
        all = true

[help]
        autocorrect = prompt

[rerere]
        enabled = true
        autoupdate = true

[rebase]
        autoSquash = true
        autoStash = true
        updateRefs = true

[merge]
        conflictstyle = zdiff3

[commit]
        verbose = true

[pull]
	rebase = true

[init]
	defaultBranch = main

[core]
	autocrlf = input
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes
	editor = vim
	precomposeUnicode = true
	hookspath = /dev/null

[url "ssh://git@github.com/"]
	insteadOf = https://github.com/

[url "ssh://git@bitbucket.org/"]
	insteadOf = https://bitbucket.org/

[gpg]
	format = ssh

[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[includeIf "gitdir:~/work/"]
    path = ~/work/.gitconfig

[includeIf "gitdir:~/src/"]
    path = ~/src/.gitconfig
