[commit]
#	gpgsign = true

[pull]
	rebase = true

[core]
	autocrlf = input
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes
	editor = vim
	precomposeUnicode = true

[init]
	defaultBranch = main

[user]
  name = Lukas
  email = 11976901+lukas9393@users.noreply.github.com
